* {
    margin: 0;
    padding: 0;
}
header {
    background-color: rgba(246, 248, 94, 0.596);
}
.main {
    height: 100vh;
    background-image: url(./assets/bt2.jpg);
    background-color: rgb(161, 195, 255);
    background-position: center;
    background-repeat: no-repeat;

}
.content {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
