* {
    margin: 0;
    padding: 0;
}
header {
    background-color: aqua;
}
.main {
    border: 1px solid black;
    height: 100vh;
    background-image: url(./assets/bt2.jpg);
    background-color: rgb(161, 195, 255);
    background-position: center;
    background-repeat: no-repeat;

}
.content {
    border: 1px solid black;
    margin: 30px;
}