* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;

}

header {
    display: flex;
    align-items: center;
    background-color: rgba(87, 145, 125, 0.856);
    height: 60px;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    -moz-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
}

.heading {
    font-size: 2em;
    padding-left: 30px;
    letter-spacing: 1px;
}
.main {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;

}
.content {
    display: flex;
    flex-direction: column;
    justify-content: right;
    /* max-width: 80%; */
}
p {
    background-color: rgb(143, 141, 141);
    padding: 60px;
    border: 1px solid black;
    line-height: 2.5;
    letter-spacing: 2px;
}

p:hover {
   box-shadow: red;
}

.paragraph {
    margin-top: 60px;
    padding-left: 800px;
    padding-right: 50px;

}

.picture {
    height: 420px;
    width: 420px;
    position: relative;
    bottom: 550px;
    left: 110px;
}

.say {
    text-align: center;
    padding-top: 80px;
    font-size: 2em;
    letter-spacing: 1px;
}

button {
    width: fit-content;
    margin-left: 1020px;
    margin-top: 40px;
    border: 0.25rem solid red;
    padding: 0.85em 0.75em;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
button::before {
    background: red;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
    width: 0%;
    height: 100%;
}
button:hover::before {
    width: 101%;

}

@media screen and (max-width: 800px) {
    header {
        width: 100vw;
    }
    .heading {
        font-size: 1em;
    }

    .paragraph {
        padding: 0;
    } 
    p {
        background-color: transparent;
        border: none;
    }
    .picture {
        position: relative;
        top: -500px;
        left: 160px;
        z-index: -1;
    }
    button {
        margin: 0;
        align-self: center;
        position: static bottom;
    }
}

@media screen and (max-width: 620px) {
    .picture {
        position: relative;
        top: -500px;
        left: 100px;
        z-index: -1;
    }
}

@media screen and (max-width: 550px) {
    .picture {
        position: relative;
        top: -500px;
        left: 70px;
        z-index: -1;
        width: 300px;
        height: 300px;
    }
}

